.Edit{
    cursor: pointer;
    display: flex;
    justify-content:flex-end;
    padding-top: 3px;
}

.Edit button{
    border-radius: 3px;
    background-color:lightskyblue;
    outline-offset: -3px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 0 #4c99c9;
    transition: transform 0.1s, box-shadow 0.1s;
}

.Edit button:active{
    transform: translateX(2px) translateY(2px);
    box-shadow: 0 0 0 #4c99c9;
}